/*////////////////////////////////////////////////////////
					body
///////////////////////////////////////////////////////*/

body{
	background-color: #ECECE8;
}

.image{
	display: flex;
	height: 30em;
	width: 100%;
	background: url("../image/mer1.jpg" ) no-repeat;
	background-size: cover;

}

.row{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 5em;
	margin-bottom: 5em;
	flex-wrap: wrap;
}

.article{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 30em;
	background-color: whitesmoke;
	height: 40em;
	overflow: hidden;

}

.article img{
	width: 30em;
}

.titrearticle{
	width: 13em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	height: 3em;
}

.decrouvrir{
	margin-bottom: 3em;
	text-align: center;
	text-decoration: none;
	color: #3D4042;
	font-size: 2em;
	font-family: inherit;
	letter-spacing: 0.20em;
	border:1px groove #A8A7A7;
	width: 9em;
	margin-left: auto;
	margin-right: auto;
	padding: 0.5em;

}

.decrouvrir:hover{
	 box-shadow: 0 0 5px 1px #E7C0EC;
}
p{
	width: 15em;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.5em;
	text-align: center;
	color: #67717C;
	font-family: inherit;
	height: 10em;
	letter-spacing: 0.25em;

}
